body{
    background-image:linear-gradient(rgba(221, 221, 221, 0.5),rgba(255, 255, 255, 0.5)),url(../images/ttt.jpg);
    height: 100vh;
    background-size: cover;
    height: 100vh;
    background-position: center;
    font-family: century gothic;


}
header{
    padding: 5px;
    background: rgba(0,0,0,0.2);

}
ul{ 
    text-align: center;
    /* float: right; */
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
    align-items: center;
}
ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    border: 1px solid #fff transparent;
    transition: 0.3s ease-in;
}
ul li a:hover{
    background-color:rgb(211, 63, 112);
    color: rgb(255, 246, 246);

}
ul li.active a{
    background-color: white;
    color: black;
}